*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
}

.container{
  max-width: 1212px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 21px 0 21px;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}
.button{
  display: inline-block;
  background-color: gray;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
}

//=====Task 1============================================================//

.tasc_1,
.tasc_2,
.task_3{
  margin: 50px 0 ;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #000000;
  h1{
    font-size: 25px;
    line-height: 30px;
    margin: 20px 0 50px;
  }
  .btn_task_1,
  .btn_task_2
 {
    margin: 0 0 50px ;
  }
}
.task_2_expressions{
  margin: 0 0 30px 0;
  font-size: 16px;
}

//===Task 3=========================================================================//

.task_3{
  .counter{
    border: 1px solid gray;
    display: inline-block;
    margin: 0 0 50px ;
    .counter_btn{
      background-color: gray;
      padding: 10px;
      i{
        color: #ffffff;
      }
    }
    .counter_value{
      padding: 0 10px;
      font-size: 20px;
    }
  }
}